*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("gunung.jpg");
    background-position: center;
}

.head{
    display: grid;
    grid-template-areas:
        'head head anak';
    width: 100vw;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #000000;
    border-style: double;
    border-width: 0px 0px 3px 0px;
}

.greet{
    grid-area: greetings;
}

.photo{
    grid-area: photo;
}

.bio{
    grid-area: personal;
}

.header{
    grid-area: head;
}

.anak-header{
    grid-area: anak;
}

.content1{
    display: grid;
    grid-template-areas:
        'greetings photo personal'
        'greetings photo personal'
        'greetings photo personal';
    grid-gap: 10px;
}

#header {
    font-family: cocogoose;
    font-size: 40px;
    width: 70%;
    padding-left: 30px;
}

#anak-header{
    font-family: Helvetica;
    font-size: 15px;
    width: 30%;
    text-align: right;
    margin-left: 500px;
    margin-top: 30px;
    border: 1px double white;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 10px;
}

#greetings{
    margin-left: 40px;
    margin-top: 150px;
    margin-right: 40px;
    padding: 10px;
    font-size: 25px;
    max-width: 400px;
    border: 3px solid white;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
    color: white;
    text-align: center;
    font-family: Helvetica;
}

#portrait{
    margin-top: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: solid white;
}

#biodata{
    margin-left: 40px;
    margin-top: 150px;
    margin-right: 40px;
    max-width: 400px;
    padding: 15px;
    border: 3px solid white;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
    color: white;
    text-align: center;
    font-family: Helvetica;
}